body {
    font-family: sans-serif;
    margin: 0;
    padding: 0;
  }
  
  .form-container {
    width: 500px;
    margin: 50px auto;
    padding: 20px;
    border: 1px solid #ccc;
  }
  
  h1 {
    text-align: center;
    margin-bottom: 20px;
  }
  
  label {
    display: block;
    margin-bottom: 5px;
  }
  
  input {
    width: 100%;
    padding: 5px;
    border: 1px solid #131212;
    box-sizing: border-box;
  }
  
  button {
    padding: 10px 20px;
    background-color: #007bff;
    color: rgb(19, 17, 17);
    border: none;
    cursor: pointer;
  }
  
  button:hover {
    background-color: #0069d9;
  }
  
  #savedData {
    margin-top: 20px;
  }
  table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
  }
  
  th, td {
    padding: 8px;
    text-align: left;
    border: 1px solid #f59595;
  }
  
  th {
    background-color: #f7abab;
  }